@charset "UTF-8";

#container{
width: 100vw;
height: 100vh;
border-radius: 10px;
display: flex;
align-items: center;
justify-content: space-around;


}

#red{
    width: 200px;
    height: 200px;
    background-color: red;
    border: 2px solid black;
    border-radius: 10px;
}
#yellow{
    width: 200px;
    height: 200px;
    background-color: yellow;
    border: 2px solid black;
    border-radius: 10px;
}
#blue{
    width: 200px;
    height: 200px;
    background-color: blue;
    border: 2px solid black;
    border-radius: 10px;
}