@charset "UTF=8";


@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');

body{
    font-family: 'Lato', sans-serif; 
    line-height: 3em;
    margin: 10px;
    width: 60%;
    margin: auto;
}
header > h1 {
    
    text-align: center;
    font-size: 25px;
}


h2{
    
    font-weight: 900;
    font-size: 20px;
}
strong{
    color: blue;
}
section > div{
    padding: 5px;
    background-color: blue;
    color: white;
}


p#enfatizar{
  margin-top: 20px;
  font-weight: 900;
}

ol{
    margin: 13px;
    list-style-type: decimal;
    
}
li > a{
    color: black;
    text-decoration: 1px underline dashed blue;
}

footer{
    margin-top: 50px;
    text-align: center;
    background-color: black;
    color: white;
}