@charset "UTF-8";

ul{
    display: flex;
    flex-direction: row;
    margin: 50px ;
}

li{
    margin-right: 15px;
    padding: 15px;
    border: 1px solid black;
}
li:hover{
    cursor: pointer;
    background-color: blue;
    color: white;
}